{% extends 'admin_base.html'%}
<!-- Definerar vilken fil vvi ärver från -->

<!-- blocket titel sätter sidans titel i headern-->
{% block title %}
    Products
{% endblock %}

<!-- blocket content fyller ut sidans body -->
{% block content %}
<div class="container">
    <div id="currListings">
        <h2 class="text-primary d-flex justify-content-center">Current Listings</h2>
        <table class="table  table-dark table-striped">
            <form method="POST" class="text-left" enctype="application/x-www-form-urlencoded" action="/products/new">                          
                <div class="form-group">
                    <input type="text"  id="Category_ID" name="Category_ID"  placeholder="Category_ID">
                    <input type="text"  id="Product_Name" name="Product_Name" required placeholder="Product_Name">
                    <input type="text"  id="Store_ID" name="Store_ID" required placeholder="Store">
                    <input type="text"  id="Price" name="Price"  placeholder="Price">
                    <input type="text"  id="Price_num" name="Price_num" required placeholder="Price_num">
                    <input type="text"  id="Price_kg" name="Price_kg"  placeholder="Price_kg">
                    <input type="text"  id="Price_l" name="Price_l"  placeholder="Price_l">
                    <input type="text"  id="URL" name="URL" placeholder="URL"><br>   
                    <button type="submit" class="btn btn-primary mr-0">Add Product</button>                  
                </div>
            </form>
            <br>
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Store</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <!-- Lopar igenom alla produkter och lägger till en rad för varje -->
                {% for item in products %}
                    <tr>
                        <td>{{item[3]}}</td>
                        <td>{{item[0]}}</td>
                        <td>{{item[1]}}</td>
                        <td>{{item[2]}}</td>
                        <td>
                            <ul class="">
                                <li class="list-inline-item">
                                    <form method="POST" class="text-left" enctype="application/x-www-form-urlencoded" action="/product/remove/{{item[3]}}">
                                        <button class="btn btn-danger btn-sm rounded-0" type="submit" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash">Delete</i></button>
                                    </form>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
   
    
    
</div>


{% endblock %}
