{% extends 'admin_base.html'%}
<!-- Definerar vilken fil vvi ärver från -->

<!-- blocket titel sätter sidans titel i headern-->
{% block title %}
    Login
{% endblock %}

<!-- blocket content fyller ut sidans body -->
{% block content%}
    <body class="container "></body>
        <main class="jumbotron text-center mb-5 pb-4">
            <h1 class="display-3">Admin Login</h1>
            <form method="POST" class="text-left" enctype="application/x-www-form-urlencoded" action="#">                          
                <div class="form-group">
                    <h1 id="wrongLogin"></h1>
                    <label for="nickname">Username:</label>
                    <input type="text" class="form-control" id="Username" name="Username" required placeholder="Username">
                    <label for="nickname">Password:</label>
                    <input type="password" class="form-control" id="Password" name="Password" required>
                </div>
                <div class="text-right">                 
                    <button type="submit" class="btn btn-primary mr-0">Login</button>                  
                </div>
            </form>
        </main>
    </body>
{% endblock %}